#container{
    display: flex;
    flex-direction: column;
}
#input{
    display: flex;
    flex-direction: column;
}
#input form{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#cityName{
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    width: 800px;
    height: 50px;
}
#submitButton{
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    width: 800px;
    height: 50px;
    background-color: brown;
    color: white;
    font-size: large;
}
#weatherContent #itemsDiv{
    display: flex;
    flex-direction: column;
}

#weatherContent #itemsDiv div{
    display: flex;
    margin: 10px;
    background-color: rgb(182, 144, 38);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2px 20px 2px 20px;
}
#weatherContent #itemsDiv h1{
align-items: center;
}
#tempDiv{
    justify-content: space-around;
}
#headingDiv{
    justify-content: center;
}
#getweatherReport{
    display: flex;
    justify-content: center;
}
#weatherReportButton{
    width: 500px;
    height: 50px;
    background-color: blue;
    border-radius: 20px;
    color: white;
    font-size: large;
}
#decsDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
}
img{
    height: 100%;
    width: 100px;
    border-radius: 20px;
}

